@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#f4f0ff, #dacdff);
}

/* Chat Bot Icon */
#cb-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #6d4fc2;
  transition: all 0.3s ease;
}

#cb-toggler span {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container.show-chatbot #cb-toggler {
  transform: rotate(90deg);
}
