@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#f4f0ff, #dacdff);
}

/* Chat Bot Icon */
#cb-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #6d4fc2;
  transition: all 0.3s ease;
}

#cb-toggler span {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container.show-chatbot #cb-toggler {
  transform: rotate(90deg);
}

.container.show-chatbot #cb-toggler span:first-child {
  opacity: 0;
}

.container.show-chatbot #cb-toggler span:last-child {
  opacity: 1;
}

/* Chat Bot Panel */
.cb-popup {
  position: fixed;
  width: 550px;
  bottom: 90px;
  right: 35px;
  /* border-radius: 15px; */
  box-shadow:
    0 0 128px rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  /* height: 600px; */
  opacity: 0;
  transform: scale(0.2);
  transform-origin: bottom right;
  transition: all 0.3s ease;
  pointer-events: none;
}

.container.show-chatbot .cb-popup {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/* Panel Header */
.cb-popup .cb-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #6d4fc2;
  padding: 15px 20px;
}

.cb-popup .header-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-info .logo-text {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
}

.header-info svg,
.cb-body .bot-message svg {
  width: 35px;
  height: 35px;
  padding: 6px;
  background: #fff;
  border-radius: 50%;
  fill: #6d4fc2;
}

.arrow-icon {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 1.8rem;
  padding-top: 2px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.arrow-icon:hover {
  background: #593bab;
}

/* Chat Bot Body */
.cb-body {
  width: 100%;
  padding: 25px 22px;
  margin-bottom: 80px;
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: #ddd3f9 transparent;
}

.cb-body .bot-message svg {
  background: #6d4fc2;
  fill: #fff;
}

.cb-body .message .message-text {
  padding: 12px 16px;
  width: fit-content;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 0.875rem;
}

.cb-body .bot-message .message-text {
  background: #f6f2ff;
  border-radius: 3px 13px 13px 13px;
  margin-right: 28px;
  margin-left: 12px;
  _margin-top: -8px;
}

.cb-body .user-message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cb-body .user-message .message-text {
  background: #6d4fc2;
  color: #fff;
  border-radius: 13px 3px 13px 13px;
  margin-right: 28px;
  margin-top: 20px;
}

/* Chat Bot Footer */
.cb-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
  border-radius: 0 0 8px 8px;
}

.cb-footer .chat-form {
  display: flex;
  align-items: center;
  background: #fff;
  outline: 1px solid #cccce5;
  border-radius: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.cb-footer .chat-form:focus-within {
  outline: 2px solid #6d4fc2;
}

.cb-footer .message-input {
  border: none;
  outline: none;
  background: none;
  height: 47px;
  padding: 0 18px;
  font-size: 0.875rem;
  width: 100%;
}

.cb-footer button {
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  font-size: 1.125rem;
  color: #fff;
  border-radius: 50%;
  background: #6d4fc2;
  transition: all 0.2s ease;
  margin-right: 6px;
  display: none;
}

.cb-footer button:hover {
  background: #593bab;
}

.cb-footer .message-input:valid ~ button {
  display: block;
}
